@import '../../common/scss/variables';

.container {
    box-sizing: border-box;
    text-align: left;
    width: 100%;

    > a {
        text-decoration: none;
    }
}

.row {
    cursor: pointer;
    margin: 0;
    padding: 0 2rem;
    height: $sidebar-row-height;
    display: flex;
    flex-direction: row;
    align-items: center;

    text-decoration: none;
    color: $darkgrey;

    &:hover {
        background-color: $blue;
        text-decoration: none;
        color: white;
    }
}

.title {
    text-align: left;
}

.icon {
    margin-right: 1rem;
}
