.container {
    width: 70%;
    margin: 0 auto;
}

.textAreaContainer {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 3rem;

    > div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    textarea {
        box-sizing: border-box;
        width: 100%;
        padding: 1rem;
        height: 40rem;
        border-radius: 0.5rem;
    }
}

.buttonRow {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    margin: 2rem 0;
}

.option {
    width: 70%;
}

.addStringInput {
    display: flex;
    gap: 2rem;
}

.stringToRemoveList {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    gap: 1rem;

    li {
        display: flex;
        justify-content: space-between;
        background-color: lightblue;
        padding: 0.5rem 1rem;
        margin: 0.5rem 0;
        border-radius: 1rem;
    }
}
