.pillButton {
    display: inline;
    border-radius: 2rem;
    background-color: lightblue;
    min-width: max-content;
    padding: 0.2rem 1rem;
    margin-right: 0.5rem;
    height: 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.pillButtonContainer {
    margin-right: 0.5rem;
    min-width: 15rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
    //overflow-x: hidden;
}

.artistCol {
    //display: flex;
    min-width: 15rem;
}

.tempo-col {
    text-align: right;
}

.titleCol {
    //display: flex;
    //justify-content: space-between;
    //align-items: center;
    min-width: 20rem;
    position: relative;
}

.composersCol {
    max-width: 25rem;
    //overflow: hidden;
    //word-wrap: break-word;
}

.songwritersCol {
    max-width: 25rem;
    overflow: hidden;
}

.arrangersCol {
    max-width: 25rem;
    overflow: hidden;
}

.listenCol {
    display: flex;
    gap: 1rem;
    width: 10rem;
    align-items: center;
}

.checkboxCol {
    > input {
        transform: scale(1.2);
    }
}
