.pill-button {
    display: inline;
    border-radius: 2rem;
    background-color: lightblue;
    min-width: max-content;
    padding: 0.2rem 1rem;
    margin-right: 0.5rem;
    height: 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.artistCol {
    //display: flex;
    min-width: 15rem;
}

.tempo-col {
    text-align: right;
}

.titleCol {
    //display: flex;
    //justify-content: space-between;
    //align-items: center;
    min-width: 20rem;
    position: relative;
}

.listenCol {
    display: flex;
    gap: 1rem;
    width: 10rem;
    align-items: center;
}

.checkboxCol {
    > input {
        transform: scale(1.2);
    }
}
