@import '../../variables';

.header {
  //display: flex;
  position:sticky;
  top: 0;
  align-items: center;
  height: $header-height;
  //padding: 0 3rem;
  background-color: white;
  border-bottom: 1px solid #DDDDDD;
  box-shadow: 0 0.3rem 0.6rem rgba(0,0,0,0.2);
  display: grid;
  grid-template-columns: $sidebar-close-width 65rem 1fr $sidebar-close-width;

}

.menuButton {
  justify-self: center;
  align-self: center;

}

.headerLogoPosition {
  //padding-left: 1rem;
  margin-left: 2rem;
  //position: absolute;
  //top: 1.3rem;
  //left: 8.5rem;

}

