@import "../../variables";

.container {
    position:absolute;
    top: 1.8rem;
    right: 3rem;
}

.menu {
  position: absolute;
  top: 4.5rem;
  right: 2rem;
  border: 1px solid lightgrey;
  width: 18rem;
  border-radius: 0.3rem;
  margin: 1.8rem 0;
  box-shadow: 3px 3px 3px lightgrey ;
  z-index: 99;
  background-color: white;

  &:focus {
    background-color: red;
  }
}

.gearIcon {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  background-color: white;
  border: none;
}