@import '../../variables';

.submenu {
    display: flex;
    flex-direction: column;
    width: 22rem;

    background-color: white;
    position: fixed;
    top: calc(#{$header-height} + #{$sidebar-row-height} * 3);
    border: 1px solid lightgrey;
    box-shadow: 3px 3px 3px lightgrey;
    border-left: none;
    border-radius: 0 0.3rem 0.3rem 0;
    justify-content: center;
    z-index: 3;
}

.open {
    left: $sidebar-open-width;
}

.close {
    left: $sidebar-close-width;
}

@for $i from 1 through 10 {
    .pos#{$i} {
        top: $header-height + $sidebar-row-height * $i;
    }
}
