.container {

  display: flex; justify-content: center;
  > div {
    width: 100%;
  }

  input[type="text"] {

    font-size: 1.6rem;
  }


}


.form {
  width: 75vwsds;
  //background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formRow {
  margin: 1rem 0;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
}

.row {
  //background-color: pink;
  width: 75%;
  display: flex;
  justify-content: center;
}
.col {
  flex: 1
}

