.base {
    font-size: 1.2rem;
    border: none;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    min-width: max-content;
}

.new {
    @extend .base;
    background-color: lightblue;
}

.in-progress {
    background-color: pink;
    @extend .base;
}

.learned {
    background-color: yellow;
    @extend .base;
}

.charted {
    background-color: greenyellow;
    @extend .base;
}
