
.table {
  //border: 1px solid gray;
  border-collapse: collapse;
  position: relative;
  width: 100%;


  thead {
    text-align: left;
  }
  & tbody {
    width: 100rem;
    height: 10rem;
    overflow-y: auto;
  }

  th {
    position: sticky;
    top: 0;
    background-color: #e9faff;

  }

  tr {
    position: relative;
    border-bottom: 1px solid lightgray;

  }
  th, tr, td {
    margin: 0;

    //border: 1px solid gray;
    height: 4rem;

  }

  tr:nth-child(2n + 1) {
    //background-color: #e9faff;
  }

  input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1.6rem;


  }

  .cell {
    padding: 0 1rem;
    cursor: pointer;

  }

}



.tableContainer {
  height: 80rem;
  overflow-y: scroll;
}

.tableContentContainer {
  height: 80rem;
  overflow-y: scroll;
}

.pillButton {
  background-color: pink;
  margin: 0 0.5rem;
  padding: 0.5rem;
}

.tempoCol {
  text-align: right;
}

.titleCol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
  position: relative;
}

.artistCol {
  width: 10rem;

  //background-color: red;
}