@import '../../../common/scss/variables';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tempoDisplayContainer {
    margin-top: 5rem;
    //background-color: #5BD9D5;
    width: 30rem;
    height: 30rem;
    background: linear-gradient(-45deg, #58b3d4 0%, #b3ecff 100%);
    box-shadow: 0 0 20px #b4eafc;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15rem;
    border: none;
    margin-bottom: 2rem;

    font-size: 1.6rem;
    font-family: 'Segoe UI Semibold', Roboto, sans-serif;
}
.tempoDisplay {
    font-size: 12rem;
}

.buttonRow {
    display: flex;
    align-items: flex-end;
    gap: 3rem;
    margin: 0.5rem 0;

    > div {
        width: 15rem;
    }

    button {
        width: 100%;
    }
}
