@import 'common/scss/variables';

.layout-sidebar {
    display: grid;

    .layout-content {
        width: 100%;
        margin-top: $header-height;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.open {
    grid-template-columns: $sidebar-open-width 1fr;
}

.close {
    grid-template-columns: $sidebar-close-width 1fr;
}

@media (max-width: 500px) {
    .open {
        grid-template-columns: 1fr;
    }
}

.contentOpen {
    animation: layoutWidthExpand 0.3s ease-out forwards;
}

.contentClose {
    animation: layoutWidthCollapse 0.3s ease-out forwards;
}
