@import './_variables';

.btn {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  color: $darkgrey;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.btn-primary {
  background-color: $blue;
  border: none;
  color: white;

  &:hover {
    background-color: darken($blue, 10%);
  }
}

.btn-danger {
  background-color: #DD3444;
  border: none;
  color: white;

  &:hover {
    background-color: darken(orangered, 10%);
  }
}

.btn-outline {
  border: 0.1rem solid black;
  background-color: white;
  color: $darkgrey;

  &:hover {
    border: 0.1rem solid black;
    background-color: $lightgrey;
    color: $darkgrey;
  }
}

.btn-active {
  border: 0.1rem solid black;
  background-color: white;
  color: $darkgrey;
}

.btn-highlight {
  background-color: #FFE8D6;
  border: none;

  &:hover {
    background-color: darken($highlight, 10%);
    cursor: pointer;
  }
}




.btn-link {
  background-color: transparent;
  border: none;
  color: $blue;

  &:hover {
    background-color: $lightgrey;
    color: $darkgrey;
  }

  &:active {
    background-color: darken($lightgrey, 10%);
    color: $darkgrey;
  }
}

