.logo {
  min-width: 9rem;
  height: 3.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  cursor: pointer;
}

.logo-blue {
  background-image: url("../img/logos/giggr-logo-blue-600x250.png");
}

.logo-white {
  background-image: url("../img/logos/giggr-logo-white-600x250.png");
}

.logo-lg {
  width: 12rem;
  height: 5rem;
}


.logo-position-top-center {
  position: absolute;
  top: 2rem;
  left: calc(50% - 6rem);
  z-index: 99;


}
