$primary-color: #5BD9D5;
$blue: #52ABCD;
$darkgrey: #4D4D4D;
$lightgrey: #E0E0E0;
$highlight: #FFE8D6;

$header-height: 6rem;
$sidebar-open-width: 26rem;
$sidebar-close-width: 6.5rem;
$sidebar-row-height: 5rem;

$media-breakpoint-xs: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;


$btn-radius: 0.4rem;

