
//.container {
//  top                   : 50%;
//  left                  : 50%;
//  right                 : auto;
//  bottom                : auto;
//  //
//  transform             : translate(50%, 50%);
//  width: 80rem;
//  //height: 80rem;
//  background-color: red;
//  z-index: 99;
//}

.container {
  padding: 2rem 3rem;
//position:absolute;
//  z-index: 99;
}
.titleInput {
  border: none;
  border-bottom: 0.1rem solid gray;
  font-size: 3.6rem;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.pillButtonRow {
  display: flex;
  gap: 1rem;
}

.formRow {
  display: flex;
  width: 100%;
  margin: 1rem 0;
  gap: 2rem;

  > label {
    width: 100%;
    flex-grow: 1;
    //min-width: 25%;
  }

}

.buttonRow {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
}