@import '../../../assets/scss/_variables';

.row {
  cursor: pointer;
  padding: 0 2rem;
  height: $sidebar-row-height;
  color: white;
  //border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;




  a {
    text-decoration: none;
    color: $darkgrey;
    display: flex;

  }
}

.row:hover {
  background-color: $blue;

  a {
    text-decoration: none;
    color: white;
  }
}

.title {
  min-width: 10rem;
  margin-left: 1rem;
}



