.container {
    padding: 0 2rem;

    :global {
        .ant-modal-content {
            width: 80rem;
            right: 20rem;
            top: -5rem;
            border-radius: 0.5rem;

            .ant-modal-body {
                padding: 5rem;
            }
        }
    }
    .title-input {
        border: none;
        border-bottom: 0.1rem solid gray;
        font-size: 3.6rem;
        width: 100%;
        margin-bottom: 2rem;

        &:focus {
            outline: none;
        }
    }

    .link {
        text-align: right;
    }

    .button-row {
        margin-top: 3rem;
        display: flex;
        justify-content: flex-end;

        > button {
            margin-left: 2rem;
        }
    }
}
