@import "../../variables";

.btn {
    font-size: 1.6rem;
    height: 4rem;
    min-width: 10rem;
    padding: 1rem 2rem;
    border-radius: $btn-radius;
    color: $darkgrey;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

}

.btnPrimary {
    background-color: $blue;
    border: none;
    color: white;
    font-size: 1.6rem;
    height: 4rem;

    &:hover {
        background-color: darken($blue, 10%);
    }

    &:disabled {
        background-color: lighten($blue, 15%);
        cursor: not-allowed;
    }

}

.btnHighlight {
    background-color: $highlight;
    border: none;
    color: $darkgrey;

    &:hover {
        background-color: darken($highlight, 5%);
        cursor: pointer;
    }

    &:disabled {
        background-color: lighten($highlight, 5%);
        color: lighten($darkgrey, 30%);
        cursor: not-allowed;
    }
}


