.table-container {
    height: 80rem;
    overflow-y: scroll;

    .table {
        border-collapse: collapse;
        position: relative;
        max-width: 90rem;
        height: max-content;

        thead {
            text-align: left;
            margin: 0;
        }

        & tbody {
            overflow-y: scroll;
        }

        th {
            position: sticky;
            top: 0;
            background-color: #e9faff;
            z-index: 2;
        }

        tr {
            position: relative;
            border-bottom: 1px solid lightgray;
            overflow-x: scroll;
            white-space: nowrap;
        }
        th,
        tr,
        td {
            margin: 0;
            height: 4rem;
            padding: 0 1rem;
            min-width: 5rem;
        }

        input[type='checkbox'] {
            transform: scale(1.2);
        }

        .cell {
            padding: 0 1rem;
            cursor: pointer;
        }
    }
}

.modal-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;

    .button-row {
        display: flex;
        gap: 3rem;
        margin-top: 3rem;
    }
}
