@import '../variables';


.container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../../public/img/login-background@2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;


}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  width: 100vw;
  height: 100vh;
}
