@import "../variables";

.container {
  width: 50%;
  margin: 0 auto;
}

.searchBarContainer {
  margin-top: 4rem;
}
.pinyinRow {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;


  > label {
    cursor: pointer;
  }

  input[type="checkbox"] {
    cursor: pointer;
    margin-right: 1rem;

    transform: scale(1.3);
  }
}

.searchLink{
  //margin: 1.5rem 0;
  display: block;
}

.dropdown {
  width: 8rem;
}



.timeSignatureToggleGroup {
  display: flex;
  gap: 2rem;
  margin-left: auto;


}

.timeSignatureToggle {

    background-color: white;
    border: 1px solid lightgray;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px lightgray;
    cursor: pointer;
    font-size: 1.6rem;
}

.selected {
  color: white;
  background-color: $blue;
}


.textarea {
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 0.4rem;
  padding: 1rem;
  width: 100%;
  height: 45rem;
  margin-top: 0.5rem;
  white-space: pre;
  overflow-y: scroll;
  -ms-overflow-style: none;
  cursor: text;

  &::-webkit-scrollbar {
    display: none;
  }


  &:focus {
    outline: none;
  }
}

.buttonRowContainer {
  display: flex;
  margin: 2rem 0;
  gap: 3rem;
  justify-content: flex-end;


}

.checkboxRowContainer {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: flex-end;

  > input[type="checkbox"] {
    transform: scale(1.3);
    cursor: pointer;
    margin-right: 1rem;
  }

  > label {
    cursor: pointer;
  }
}