@import '../../../common/scss/variables';

.container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $blue;
    width: $sidebar-open-width;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 3;

    > div {
        display: flex;
        align-items: center;

        a {
            display: flex;
            align-items: center;
        }
    }

    .header {
        display: flex;
        align-items: center;
        height: $header-height;
        padding-left: 2rem;

        * {
            margin-right: 4.1rem;
        }
    }
}

.open {
    width: $sidebar-open-width;
    animation: open-sidebar 0.3s ease-out;
}

.close {
    width: $sidebar-close-width;
    animation: close-sidebar 0.3s ease-out;
}

@media (max-width: 500px) {
    .close {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }
}

@keyframes open-sidebar {
    0% {
        width: 6.5rem;
    }
    100% {
        width: 26rem;
    }
}

@keyframes close-sidebar {
    0% {
        width: 26rem;
    }
    100% {
        width: 6.5rem;
    }
}
