
//.container {
//  top                   : 50%;
//  left                  : 50%;
//  right                 : auto;
//  bottom                : auto;
//  //
//  transform             : translate(50%, 50%);
//  width: 80rem;
//  //height: 80rem;
//  background-color: red;
//  z-index: 99;
//}

.container {

}
.titleInput {
  border: none;
  border-bottom: 0.1rem solid gray;
  font-size: 3.6rem;
  width: 100%;

  &:focus {
    outline: none;
  }
}