.alertBox {
    height: 5rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10rem;

    bottom: 1rem;
    left: 50%;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    transform: translateX(-50%);
}

.success {
    background-color: #d4edd9;
    color: #145824;
    border: 1px solid #c3e6cb;
}

.fail {
    background-color: #f8d7d9;
    color: #7a262d;
    border: 1px solid #f5c6ca;
}

.cross {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    cursor: pointer;
    //display: flex;
}
