@use 'sass:math';
@import 'common/scss/variables';

.header {
    position: fixed;
    top: 0;

    width: 100%;
    align-items: center;
    height: $header-height;
    background-color: white;
    border-bottom: 1px solid #dddddd;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
    display: flex;
    z-index: 3;

    .menu-button {
        justify-self: center;
        align-self: center;
        width: $sidebar-close-width;

        :global {
            .MuiSvgIcon-root {
                font-size: 24px;
                cursor: pointer;
                margin-left: 2rem;
                margin-top: 0.8rem;
            }
        }
    }

    .logo-position {
        margin-left: 4rem;
    }

    .title {
        width: 1000%;
        text-align: center;
    }

    .sidebar-open-offset {
        margin-left: $sidebar-open-width - $sidebar-close-width - 5rem;
    }

    .sidebar-close-offset {
        margin-left: -4rem;
    }
}
